body {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1564936281659-ba4f75a41956?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

h1 {
    margin: 20px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 100px;
    height: 100px;
    background: black;
    color: deepskyblue;
    transition: width 2s, height 3s;
    padding: 30px;
    margin: auto;
    border-radius: 30px;
    font-size: 10px;
}

div:hover {
    width: 200px;
    height: 200px;
    font-size: 30px;
    margin: 30px;
    background: yellowgreen;
    text-align: center;
}

.left {
    margin: 20px 7px auto;
    display: inline-flex;
    text-align: center;
}

h2::before {
  width: 300px;
  height: 50px;
  background: green;
  position: relative;
  animation: reklama; 
  animation-fill-mode: both;
  margin: 300px auto;
  text-align: center;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  content: 'Nuolaidos kodas 15%';
    animation-duration: 3s;
    animation-iteration-count: infinite;
    color: wheat;
    top: 100px;
}

@keyframes reklama {
    70% {top:20px;font-size:70%;color:black;content:"Pica2022";}
    120% {top:80px;font-size:120%;content:"Nuolaidos kodas 15%";}

}
